@import "./star.objects";


starfield-star {

  position: absolute;
  div {
    @keyframes grow {
      from {
        transform: scale(0.005);
      }
      to {
        transform: scale(var(--scale));
      }
    }
    height: 100px;
    width: 100px;
    position: relative;
    background-position: center;
    background-size: contain;

    &.star {
      background: white;
    }

    &.galaxy-1 {
      background: $galaxy-1-url;
    }

    &.planet {
      background: $planet-1;
    }
  }
}
